@keyframes animacao-background {
	0% {
		opacity: 0;
		transform: translateY(-50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
  
body{
  background-color: #f9f9f9;
}

.btn-entrar{
	background-color: #1D6DF1;
	color: white;
	border: none;
	padding: 10px;
	border-radius: 10px;
}